.wrapper-loader {
    height: 32 px;
    width: 32 px;
    display: flex;
    justify-content: center;
    align-items: center;

    .eye-animation-wrapper {
        width: 100%;
        height: 100%;
        animation-name: wrapper-eye-fill;
        position: relative;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        .eye-animation {
            width: 10%;
            height: 100%;
            transform: translateX(0) rotate(0);
            background-image: url("https://developer.tizen.org/sites/default/files/users/user-2059/7-sprite.png");
            background-size: 1000%;

            // background-color: red;
            background-position: right;
            background-repeat: no-repeat;
            background-attachment: scroll;
            animation-name: eye-fill;
            animation-duration: 3s;
            animation-fill-mode: forwards;
            animation-timing-function: steps(9);
            animation-iteration-count: 2;
        }
    }
}

@keyframes wrapper-eye-fill {
    0% {
        left: 45%;
    }

    100% {
        left: 45%;
    }
}
@keyframes eye-fill {
    0% {
        background-position: left;
        // transform : translateX(0);
    }

    // 50% {
    //   background-position: center;

    // }
    100% {
        background-position: right;
        // transform: translateX(-94.44444444%)
    }
}
