.wrapper-dynamic-import{width:100%;height:100vh;padding:20px;display:flex;flex-direction:column}

.wrapper-code-demo{height:100%;width:100%;border:2px solid #3366ff;overflow:scroll}.demo-heading{padding:5px 10px;background-color:#3366ff;color:white;font-weight:bold}

